<template>
    <div class=null>
        <div class="row row-same-height">
            <div class="panel panel-default two-column-div">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Tour Info</h4>
                </div>
                <div class="panel-body ">
                    <div class="col-md-7">
                        <div class="padding-30">
                            <template v-for="(tour_package, index)  in tour_package_lists" >
                                <div class="form-group-attached ">
                                <div class="package_description" v-if="tour_package_lists">
                                    <div class="tour_title"> {{ tour_package.name }} </div>
                                    <div class="tour_description">
                                        {{ tour_package.description }}  
                                    </div>
                                    <hr>
                                    <div v-if="tour_package_price[0].standard">
                                        <div>
                                            <div class="tour_price">Standard: </div>
                                            <div class="price_value">
                                                {{ tour_package_price[0].standard }} Tk
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div>
                                            <div class="tour_price"> Deluxe: </div>
                                            <div class="price_value">
                                                {{ tour_package_price[0].deluxe }} Tk
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        <div>
                                            <div class="tour_price"> Luxury: </div>
                                            <div class="price_value">
                                                {{ tour_package_price[0].luxury }} Tk
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group form-group-default float-left 
                                required" v-bind:class="[errors.company_currency_id ? 'has-error' : '', '']">
                                    <label for="value">Paying Person</label>
                                    <select v-model="tour_package_price_id" v-on:change="packagePrice" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option v-for="package_price in tour_package.tour_package_price" v-bind:value="package_price.id">{{ package_price.minimum_paying_person }}</option>
                                    </select>
                                    <form-error v-if="errors.company_currency_id" :errors="errors">
                                        {{ errors.tour_package_price_id[0] }}
                                    </form-error>
                                </div>
                                <div class="clearfix"></div>
                                </div>
                            </template>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>   
    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },        
        data(){
            return{
                // array to hold form errors
                errors: [],               
                tour_package_lists: [],               
                tour_package_price_id: null,
                tour_package_price:[ 
                    { standard: null, deluxe: null, luxury:null }                      
                ]
                    
            }
        },

        props: [],

        mounted() {
            let that = this;
            that.getTourPackages();            
        },

        computed:{

        },
        watch:{

        },
        methods: {
            getTourPackages: function(){
                let that = this;
                axios.post('/api/tour_package/get_tour_packages', {
                       tour_package_id: "1"
                   })
                    .then(function (response) {
                        that.tour_package_lists = response.data;                        
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            packagePrice: function(){
                let that = this;
                axios.post('/api/tour_package/get_tour_package_price', {
                       tour_package_price_id: that.tour_package_price_id
                   })
                    .then(function (response) {
                        that.tour_package_price = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },          
        }
    }
</script>

