.col-div-full{
    width: 100% !important;
}
.col-div-33{
    width: 33%;
}
.col-div-width{
    width: 50% !important;
}
.col-product-left-width{
    width: 55% !important;
}
.col-product-right-width{
    width: 45% !important;
}
.title-color{
    background-color: #f5f5f5 !important;
}
.col-button-width{
    width: 20% !important;
}
.panel-title-margin{
    margin-bottom: 20px !important;
}
.padding-top{
    padding-top: 30px;
}
table.dataTable thead th, table.dataTable thead td {
     border-bottom: 1px solid #ddd !important;
}
.dataTables_wrapper .dataTables_info{
    clear: none !important;
}
.btn-actions{
    /*display: block;*/
    width:200px !important;
}
.table thead tr th:first-child {
    padding-left: 11px !important;
}
.toggle-on-off label{
    font-weight: 700;
    padding-left: 30px;
}
.switchery{
    width:100px !important;
}

.attributes-color-container {
    width: 40px;
    height: 25px;
    display: block;
    border: solid 1px #000;
}
ul.permission-list-container{
    list-style-type: none !important;
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    white-space: nowrap;
}

li.module-name-li{
    color: #2c2c2c !important;
    font-weight: bold;
}

li.permission-name-li{
    color: #2c2c2c !important;
    font-weight: normal;
}
.permission-name-span{
    padding-left: 2px;
}
.set-permission{
    padding-top: 10px;
}

.product_combination{
    float: left;
    padding-top: 10px;
}
.product_quantity{
    float: left;
    padding: 10px;
}

.btn-challan-product-div{
    min-width: 100% !important;
    min-height: 100% !important;
}
.btn-challan-product-search{
    min-width: 100% !important;
    min-height: 100% !important;
    padding-top: 30px !important;
}
.attribute-values{
    float: left;
    padding:5px 5px 5px 0;
}
.combination-quantity{
    float: left;
    padding: 5px;
}
svg {
    width: 40% !important;
    padding-top: 60px;
}
.bar-code-text{
    padding-left: 50px;
}
.hide_add_to_challan_button{
    display: none;
}
.show_add_to_challan_button{
    display: block;
}
.multiple-select{
    display: none;
}
label{
    margin-bottom: 15px !important;
}
.col-div-full{
    width: 100% !important;
}
.col-div-33{
    width: 33%;
}
.col-div-width{
    width: 50% !important;
}
.col-product-left-width{
    width: 55% !important;
}
.col-product-right-width{
    width: 45% !important;
}
.title-color{
    background-color: #f5f5f5 !important;
}
.col-button-width{
    width: 20% !important;
}
.panel-title-margin{
    margin-bottom: 20px !important;
}
.padding-top{
    padding-top: 30px;
}
table.dataTable thead th, table.dataTable thead td {
     border-bottom: 1px solid #ddd !important;
}
.dataTables_wrapper .dataTables_info{
    clear: none !important;
}
.btn-actions{
    /*display: block;*/
    width:200px !important;
}
.table thead tr th:first-child {
    padding-left: 11px !important;
}
.toggle-on-off label{
    font-weight: 700;
    padding-left: 30px;
}
.switchery{
    width:100px !important;
}

.attributes-color-container {
    width: 40px;
    height: 25px;
    display: block;
    border: solid 1px #000;
}
ul.permission-list-container{
    list-style-type: none !important;
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    white-space: nowrap;
}

li.module-name-li{
    color: #2c2c2c !important;
    font-weight: bold;
}

li.permission-name-li{
    color: #2c2c2c !important;
    font-weight: normal;
}
.permission-name-span{
    padding-left: 2px;
}
.set-permission{
    padding-top: 10px;
}

.product_combination{
    float: left;
    padding-top: 10px;
}
.product_quantity{
    float: left;
    padding: 10px;
}

.btn-challan-product-div{
    min-width: 100% !important;
    min-height: 100% !important;
}
.btn-challan-product-search{
    min-width: 100% !important;
    min-height: 100% !important;
    padding-top: 30px !important;
}
.attribute-values{
    float: left;
    padding:5px 5px 5px 0;
}
.combination-quantity{
    float: left;
    padding: 5px;
}
svg {
    width: 40% !important;
    padding-top: 60px;
}
.bar-code-text{
    padding-left: 50px;
}
.hide_add_to_challan_button{
    display: none;
}
.show_add_to_challan_button{
    display: block;
}
.multiple-select{
    display: none;
}
.hide-login-area{
    display: none;
}
.show-login-area{
    display: block;
}
.hide-enter-outlet{
    display: none;
}
.show-enter-outlet{
    display: block;
}
.hide-sign-in-heading{
    display: none;
}
.alert-danger{
    color: red;
}
.col-order-details-width{
    width: 85% !important;
}
.col-order-summary-width{
    width: 15% !important;
}
.float-left{
    float:left !important;
}
.item_details{
    width: 19% !important;
}
.general_field{
    width: 9% !important;
}
.padding-30 {
    padding: 10px 0 0 0 !important;
}
.two-column-div{
    width: 49% !important;
    margin-right: 1%;
    float: left;
}
.btn-custom{
    height: 50px!important;
}
.custom-label-padding label{
    padding: 20px 0 0 4px !important;
    font-family: 'Montserrat';
    font-size: 11px;
    text-transform: uppercase !important;
    font-weight: 600;
}
.product-selection-button button{
    padding: 0 0 0 0px !important;
    font-family: 'Montserrat';
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-selection-button{
    display: inherit !important; /* override v-show display: none */
    transition: opacity 0.5s;
}

.product-selection-button[style*="display: none;"] {
    opacity: 0;
    pointer-events: none; /* disable user interaction */
    user-select: none; /* disable user selection */
}

.coupon-restriction-div{
    display: inherit !important; /* override v-show display: none */
    transition: opacity 0.5s;
}
.coupon-restriction-div[style*="display: none;"] {
    opacity: 0;
    pointer-events: none; /* disable user interaction */
    user-select: none; /* disable user selection */
}
.float-right{
    float:right;
}
.pg-close{
    cursor: pointer;
}
.custom-close{
    color: red;
}
.apply-discount-option{
    margin-right: 10% !important;
    margin-top: 3% !important;
}
.button-type-field{
    width: 24%;
}
.apply-discount-field{
    width: 27%;
}
.apply-discount-label{
    width: 15%;
}
.icon-warning-sign{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.icon-warning:before, .icon-exclamation-triangle:before, .icon-warning-sign:before, .bootstrap .alert.alert-danger:before, .bootstrap #carrier_wizard .wizard_error:before {
    content: "";
}
.help-block-div{
    padding-left:11%;
    padding-bottom: 4%;
}
.exclude-discounted-products label{
    padding-left: 0 !important;
    font-weight: normal !important;
}
.datepicker table tr td.today{
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}
.readonly-field-color, .weight-gram-readonly{
    color:#000 !important;
}
.customer-order-detail-items-first{
    margin-bottom: 115px;
}
.attribute-side-border{
    border:1px solid rgba(0, 0, 0, 0.07);
    margin-top: 10px;
    padding-bottom: 15px;
}
.attribute-content{
    padding: 10px;
}
.product-combination-info-box{
    border: 2px solid #10CFBD;
    padding: 12px 12px 0px 12px;
    text-align:justify;
    margin-top: 12px;
}
.able-heading-vue{
    text-align: center;
}
