.col-div-full{
    width: 100% !important;
}
.col-div-33{
    width: 33%;
}
.col-div-width{
    width: 50% !important;
}
.col-product-left-width{
    width: 55% !important;
}
.col-product-right-width{
    width: 45% !important;
}
.title-color{
    background-color: #f5f5f5 !important;
}
.col-button-width{
    width: 20% !important;
}
.panel-title-margin{
    margin-bottom: 20px !important;
}
.padding-top{
    padding-top: 30px;
}
table.dataTable thead th, table.dataTable thead td {
     border-bottom: 1px solid #ddd !important;
}
.dataTables_wrapper .dataTables_info{
    clear: none !important;
}
.btn-actions{
    /*display: block;*/
    width:200px !important;
}
.table thead tr th:first-child {
    padding-left: 11px !important;
}
.toggle-on-off label{
    font-weight: 700;
    padding-left: 30px;
}
.switchery{
    width:100px !important;
}

.attributes-color-container {
    width: 40px;
    height: 25px;
    display: block;
    border: solid 1px #000;
}
ul.permission-list-container{
    list-style-type: none !important;
    font-family: tahoma, arial, helvetica;
    font-size: 10pt;
    white-space: nowrap;
}

li.module-name-li{
    color: #2c2c2c !important;
    font-weight: bold;
}

li.permission-name-li{
    color: #2c2c2c !important;
    font-weight: normal;
}
.permission-name-span{
    padding-left: 2px;
}
.set-permission{
    padding-top: 10px;
}

.product_combination{
    float: left;
    padding-top: 10px;
}
.product_quantity{
    float: left;
    padding: 10px;
}

.btn-challan-product-div{
    min-width: 100% !important;
    min-height: 100% !important;
}
.btn-challan-product-search{
    min-width: 100% !important;
    min-height: 100% !important;
    padding-top: 30px !important;
}
.attribute-values{
    float: left;
    padding:5px 5px 5px 0;
}
.combination-quantity{
    float: left;
    padding: 5px;
}
svg {
    width: 40% !important;
    padding-top: 60px;
}
.bar-code-text{
    padding-left: 50px;
}
.hide_add_to_challan_button{
    display: none;
}
.show_add_to_challan_button{
    display: block;
}
.multiple-select{
    display: none;
}
label{
    margin-bottom: 15px !important;
}

.tour_title{
    font-weight: bolder;
    text-align: justify-all;
}
.tour_price{
    font-weight: bolder;
    text-align: justify-all;
    padding-right: 7px;
}
.tour_price, .price_value{
    float:left;
}
.clear{
    clear: both;
}