<template>
    <div class="">
        <!--Start Customer Create -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Customer Order Detail</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="customer_no">Customer</label>
                                    <select v-model="customer_order_details[0].customer_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Customer</option>
                                        <option v-for="customer in customer_lists" v-bind:value="customer.id">{{ customer.first_name }} {{ customer.last_name }}( {{ customer.customer_no }} )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="first_name">Serial No</label>
                                    <input v-model="customer_order_details[0].serial_no" class ="form-control" placeholder="Serial No">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="order_date">Order Date</label>
                                    <input v-model.lazy="customer_order_details[0].order_date" id="order_date" class ="form-control" placeholder="Select Date">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="expected_delivery_date">Expected Delivery Date</label>
                                    <input v-model.lazy="customer_order_details[0].expected_delivery_date" id="expected_delivery_date" class ="form-control" placeholder="Select Date">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="city">Invoice Prefix</label>
                                    <select v-model="customer_order_details[0].invoice_prefix_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Invoice Prefix</option>
                                        <option v-for="invoice_prefix in invoice_prefix_lists" v-bind:value="invoice_prefix.id">{{ invoice_prefix.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="zip">Invoice No</label>
                                    <input v-model="customer_order_details[0].invoice_no" class ="form-control" placeholder="Invoice no">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="order_details">Order Details</label>
                                    <textarea rows="25" cols="82" id="textarea3" plaintext v-model="customer_order_details[0].order_details"></textarea>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-7 col-div-width">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="form-group form-group-default required">
                                    <label for="unit_price">Unit Price( Per Bhori )</label>
                                    <input v-model="customer_order_details[0].unit_price" class ="form-control" placeholder="Unit price( Per Bhori )">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="weight_rotti">Weight Rotti</label>
                                    <input v-model="customer_order_details[0].weight_rotti" class ="form-control" placeholder="Weight rotti">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="weight_milli">Weight Milli</label>
                                    <input v-model="customer_order_details[0].weight_milli" class ="form-control" placeholder="Weight milli">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="material_price">Material Price</label>
                                    <input v-model="customer_order_details[0].material_price" id="material_price" class ="form-control" placeholder="Material price">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="making_charge">Making Charge</label>
                                    <input v-model="customer_order_details[0].making_charge" class ="form-control" placeholder="Making charge">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="price_exclusive_vat">Price Exclusive Vat</label>
                                    <input v-model="customer_order_details[0].price_exclusive_vat" id="price_exclusive_vat" class ="form-control" placeholder="Price exclusive vat">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="vat">Vat</label>
                                    <select v-on:change="getVatAmount()" v-model="customer_order_details[0].vat_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                        <option value="">Select Vat</option>
                                        <option v-for="vat in vat_lists" v-bind:value="vat.id">{{ vat.name }}( {{ vat.percent }} % )</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="vat_amount">Vat Amount</label>
                                    <input v-model="customer_order_details[0].vat_amount" id="vat_amount" class ="form-control" placeholder="Vat amount">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="price_inclusive_vat">Price Inclusive Vat</label>
                                    <input v-model="customer_order_details[0].price_inclusive_vat" id="price_inclusive_vat" class ="form-control" placeholder="Price inclusive vat">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="order_discount_amount">Order Discount Amount</label>
                                    <input v-model="customer_order_details[0].order_discount_amount" id="order_discount_amount" class ="form-control" placeholder="Order discount amount">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_code">Discount Coupon</label>
                                    <input v-model="customer_order_details[0].coupon_code" class ="form-control" placeholder="Coupon code">
                                </div>
                                <div class="form-group form-group-default">
                                    <label for="coupon_discount_amount">Coupon Discount Amount</label>
                                    <input v-model="customer_order_details[0].coupon_discount_amount" id="coupon_discount_amount" class ="form-control" placeholder="Coupon discount amount">
                                </div>
                                <div class="form-group form-group-default required">
                                    <label for="total_amount">Total Amount</label>
                                    <input v-model="customer_order_details[0].total_amount" id="total_amount" class ="form-control" placeholder="Total amount">
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
                <a  v-on:click="saveCustomerOrder()" class="btn btn-success pull-right">Save</a>
        </div>
        <!--End Customer Create -->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    export default {
        data(){
            return{
                customer_lists: [],
                invoice_prefix_lists: [],
                vat_lists: [],
                country_lists: [],
                vat_percent: '00',
                customer_order_details: [
                    {
                        company_id: null,
                        out_let_id: null,
                        customer_id: null,
                        vat_id: null,
                        order_by: null,
                        discount_coupon_id: null,
                        invoice_prefix_id: null,
                        invoice_no: null,
                        serial_no: null,
                        order_details: null,
                        order_date: null,
                        expected_delivery_date: null,
                        delivered_date: null,
                        unit_price: '00',
                        weight_rotti: '00',
                        weight_milli: '00',
                        material_price: '00',
                        making_charge: '00',
                        price_exclusive_vat: '00',
                        vat_amount: '00',
                        price_inclusive_vat: '00',
                        order_discount_amount: '00',
                        coupon_discount_amount: '00',
                        total_amount: '00',
                        status: null,
                        is_sales_to_member: null,
                    }
                ],
               }
        },
        props: ['created_by_out_let_id'],
        mounted() {
            let that = this;
            this.getCustomerLists();
            this.getInvoicePrefixLists();
            this.getVatLists();
            $(function() {
                "use strict";
                $('#order_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_order_details[0].order_date = $('#order_date').val();
                });
                $('#expected_delivery_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.customer_order_details[0].expected_delivery_date = $('#expected_delivery_date').val();
                });
            });
        },
        computed:{
            material_price: function(){
                var price_per_rotti = this.customer_order_details[0].unit_price / 96;
                var price_per_milli = price_per_rotti / 10;
                var price_rotti = price_per_rotti * this.customer_order_details[0].weight_rotti;
                var price_milli = price_per_milli * this.customer_order_details[0].weight_milli;
                this.customer_order_details[0].material_price = price_rotti + price_milli;
            },
            price_exclusive_vat: function(){
                this.customer_order_details[0].price_exclusive_vat = parseFloat(this.customer_order_details[0].material_price) + parseFloat( this.customer_order_details[0].making_charge );
            },
            price_inclusive_vat: function(){
                this.customer_order_details[0].total_amount = this.customer_order_details[0].price_inclusive_vat = parseFloat(this.customer_order_details[0].price_exclusive_vat) + parseFloat( this.customer_order_details[0].vat_amount );
            },
            vat_amount: function(){
                this.customer_order_details[0].vat_amount = (this.vat_percent / 100) * this.customer_order_details[0].price_exclusive_vat;
            },
            order_discount_amount: function(){
                this.customer_order_details[0].order_discount_amount = this.customer_order_details[0].order_discount_amount ? this.customer_order_details[0].order_discount_amount : '00';
                this.customer_order_details[0].total_amount =  parseFloat(this.customer_order_details[0].price_inclusive_vat) - parseFloat( this.customer_order_details[0].order_discount_amount );
            },
            coupon_discount_amount: function(){
                this.customer_order_details[0].coupon_discount_amount = this.customer_order_details[0].coupon_discount_amount ? this.customer_order_details[0].coupon_discount_amount : '00';
                this.customer_order_details[0].total_amount =  parseFloat(this.customer_order_details[0].price_inclusive_vat) - parseFloat( this.customer_order_details[0].coupon_discount_amount );
            },

        },
        watch:{
            material_price: function(){
                console.log('Material Price Changed...');
            },
            price_exclusive_vat: function(){
                console.log('Price Exclusive Vat Changed...');
            },
            price_inclusive_vat: function(){
                console.log('Price Inclusive Vat Changed...');
            },
            order_discount_amount: function(){
                console.log('Order Discount Amount Changed...');
            },
            vat_amount: function(){
                console.log('Vat Amount Changed...');
            },
        },
        methods: {
            getCustomerLists: function(){
                let that = this;
                axios.get('/api/customer_lists/get_customer_lists')
                    .then(function (response) {
                        that.customer_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getInvoicePrefixLists: function(){
                let that = this;
                axios.get('/api/invoice_prefix_lists/get_invoice_prefix_lists'
                ).then(function (response) {
                    that.invoice_prefix_lists = response.data;
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            getVatLists: function(){
                let that = this;
                axios.get('/api/vat_lists/get_vat_lists')
                    .then(function (response) {
                        that.vat_lists = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getVatAmount: function(){
               let that = this;
               //alert(this.customer_order_details[0].vat_id);
               axios.post('/api/vat_percent/get_vat_percent',
                    { vat_id: that.customer_order_details[0].vat_id }
               ).then(function (response) {
                    that.vat_percent = response.data.percent;
                    that.customer_order_details[0].vat_amount = (response.data.percent / 100) * that.customer_order_details[0].price_exclusive_vat;
               })
               .catch(function (error) {
                    that.errors = error;
               });
            },
            saveCustomerOrder: function(){
                let that = this
                if( that.customer_order_details.customer_id == '' ){
                    alert("Customer can't be empty");
                    return false;
                }
                else if( that.customer_order_details.serial_no == '' ){
                    alert("Serial no can't be empty");
                    return false;
                }
                else if( $.isEmptyObject( that.customer_order_details.order_date ) ){
                    alert("Order date can't be empty");
                    return false;
                }
                else if( $.isEmptyObject( that.customer_order_details.expected_delivery_date ) ){
                    alert("Delivery date can't be empty");
                    return false;
                }
                else if( that.customer_order_details.invoice_prefix_id == '' ){
                    alert("Invoice prefix can't be empty");
                    return false;
                }
                else if( that.customer_order_details.invoice_no == '' ){
                    alert("Invoice no can't be empty");
                    return false;
                }
                else if( that.customer_order_details.order_details == '' ){
                    alert("Order details can't be empty");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.unit_price ) ){
                    alert("Unit price should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.weight_rotti ) ){
                    alert("Weight in rotti should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.weight_milli ) ){
                    alert("Weight in milli should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.material_price ) ){
                    alert("Material price should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.making_charge ) ){
                    alert("Making charge should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.price_exclusive_vat ) ){
                    alert("Price exclusive vat should be numeric");
                    return false;
                }
                else if( that.customer_order_details.vat_id =='' ){
                    alert("Vat can't be empty");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.vat_amount ) ){
                    alert("Vat amount should be numeric");
                    return false;
                }
                else if( !$.isNumeric( that.customer_order_details.price_inclusive_vat ) ){
                    alert("Price inclusive vat should be numeric");
                    return false;
                }
                else if( that.customer_order_details.order_discount_amount !='' && !$.isNumeric( that.customer_order_details.order_discount_amount ) ){
                    alert("Order discount amount should be numeric");
                    return false;
                }
                /*else if( that.customer_order_details.coupon_discount_amount !='' && !$.isNumeric( that.customer_order_details.coupon_discount_amount ) ){
                    alert("Coupon discount amount should be numeric");
                    return false;
                }*/
                else if( !$.isNumeric( that.customer_order_details.total_amount ) ){
                    alert("Total amount should be numeric");
                    return false;
                }

                that.customer_info = [];

                that.customer_info = [{
                    customer_no:that.customer_data.customer_no, gender_id:that.customer_data.gender_id, country_id:that.customer_data.country_id, first_name:that.customer_data.first_name,
                    last_name:that.customer_data.last_name, cell_phone:that.customer_data.cell_phone, work_phone:that.customer_data.work_phone, email:that.customer_data.email,
                    date_of_birth:that.customer_data.date_of_birth, address:that.customer_data.address, address2:that.customer_data.address2, city:that.customer_data.city, zip:that.customer_data.zip,
                    created_by_out_let_id:that.created_by_out_let_id,
                }];

                var form = new FormData();

                form.append('customer_info',JSON.stringify(that.customer_info));

                axios.post('/api/customer/save_customer', form)
                    .then(function (response) {
                        if( response.data.success ){
                            alert( response.data.success )
                            that.customer_info_return = response.data.success;
                            that.customer_data = [];
                        }else{
                            alert( response.data.error )
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    }
</script>

