<template>
    <div>
        <p class="p-t-35 sign-in-heading">Sign into your pages account</p>
        <div class="alert-success">{{ authentication_success_message }}</div>
        <div class="alert-danger">{{ authentication_failed_message }}</div>
        <!-- START Form Control-->
        <div class="login-area">
            <div class="form-group form-group-default">
                <label>Login</label>
                <div class="controls">
                    <input v-model="email" class ="form-control validate instant-validate" placeholder="Email">
                </div>
            </div>
            <div class="form-group form-group-default">
                <label>Password</label>
                <div class="controls">
                    <input v-model="password" class ="form-control validate instant-validate" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="checkbox ">
                        <input v-model="loginDetails.remember" type="checkbox" value="1" id="checkbox1">
                        <label for="checkbox1">Keep Me Signed in</label>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <a  v-on:click="doLogin" class="btn btn-primary btn-cons m-t-10">Sign in</a>
        </div>
        <div class="enter-outlet hide-enter-outlet">
            <div class="col-sm-6">
                <div class="form-group form-group-default">
                    <label for="out_let_id">Select Outlet</label>
                    <select v-model="out_let_id" class="cs-select cs-skin-slide cs-transparent form-control">
                        <option value="">Select Outlet</option>
                        <option v-for="out_let in out_lets.data" v-bind:value="out_let.id">{{ out_let.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <a  v-on:click="enterInOutlet" class="btn btn-primary btn-cons m-t-10">Enter Into Outlet</a>
            </div>
        </div>
        <!-- END Form Control-->
    </div>
</template>
<script>
    export default {
        data(){
            return{
                loginDetails: {
                    email : null,
                    password : null,
                    remember : true
                },
                out_lets : [],
                is_logged_in : 0,
                email : null,
                password : null,
                out_let_id : null,
                authentication_success_message : null,
                authentication_failed_message : null,
                retruned_data : null,
            }
        },

        props: ['location', 'store'],

        mounted() {
            let that = this;
        },
        methods: {
            doLogin: function(){
                alert('kopa');
                let that = this;
                axios.post('/login', {
                            email: that.email,
                            password: that.password
                        }
                    )
//                axios.post('/api/login_authentication/check_login_authentication', {
//                            email: that.email,
//                            password: that.password
//                        }
//                    )
                    .then(function (response) {
                        that.retruned_data = response;
                        console.log("response: " + that.retruned_data)
//                        console.log( "Hello: " + response.data.access_token )
//                        that.retruned_data = response.data;
//                        const authUser = {}
//                        if(response.status === 200 ){
//                            authUser.access_token = response.data.access_token;
//                            authUser.refresh_token = response.data.refresh_token;
//                            window.localStorage.setItem('authUser', JSON.stringify(authUser));
//                            const tokenData = JSON.parse(window.localStorage.getItem('authUser'));
//                            console.log('tokenData.access_token: ' + tokenData.access_token)
//                            const header = {
//                                'Accept': 'application/json',
//                                'Authorization': 'Bearer ' + response.data.access_token
//                            }
//                            ////////////////////////////////////////////////
//                            axios.get('/api/user', {headers: header})
//                                .then(response => {
//                                    that.retruned_data = response;
//                                    authUser.email = response.data.email;
//                                    authUser.name = response.data.name;
//                                    window.localStorage.setItem('authUser', JSON.stringify(authUser));
//                                    console.log("Hogar matha working... "+response)
//                                    this.$router.push('/dashboard')
//                                })
//                                .catch(function (error) {
//                                    that.errors = error;
//                                    alert( error );
//                                });
//                            ////////////////////////////////////////////////
//
//                        }
                        if(response.status === 200 ){
                            $('.login-area').addClass('hide-login-area');
                            $('.enter-outlet').addClass('show-enter-outlet');
                            $('.sign-in-heading').addClass('hide-sign-in-heading');
                            that.authentication_success_message = 'Authentication Success!!!';
                            that.authentication_failed_message = null;

                            that.out_lets = response.data;
                           console.log( "Shona " + response.data );
                        }else if(response.data.error){
                            console.log(response.data.error)
                            that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                        }
                    })
                    .catch(function (error) {
                        that.errors = error;
                        alert( error );
                    });
            },
            enterInOutlet: function(){
                let that = this;
                alert('Inside oulet' + that.out_let_id);
                location.href  = '/frontend/dashboard';

//                axios.post('/api/login_authentication/enter_in_out_let', {
//                            out_let_id: that.out_let_id
//                        }
//                    )
//                    .then(function (response) {
//                        if( response.data.success){
//                            console.log( "Shona " + response.data.success );
//                        }else if(response.data.error){
//                            console.log(response.data.error)
//                            that.enter_in_out_let_failed_message = 'Enter Into Outlet Failed, Try again!!!';
//                        }
//                    })
//                    .catch(function (error) {
//                        that.errors = error;
//                        alert( error );
//                    });
            },
        }
    }
</script>
