<template>
    <div>
        <p class="p-t-35 sign-in-heading">Sign into your pages account</p>
        <div class="alert-success">{{ authentication_success_message }}</div>
        <div class="alert-danger">{{ authentication_failed_message }}</div>
        <!-- START Form Control-->
        <div class="login-area">
            <div class="form-group form-group-default">
                <label>Login</label>
                <div class="controls">
                    <input v-model="email" class ="form-control validate instant-validate" placeholder="Email">
                </div>
            </div>
            <div class="form-group form-group-default">
                <label>Password</label>
                <div class="controls">
                    <input v-model="password" class ="form-control validate instant-validate" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 no-padding">
                    <div class="checkbox ">
                        <input v-model="loginDetails.remember" type="checkbox" value="1" id="checkbox1">
                        <label for="checkbox1">Keep Me Signed in</label>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" class="text-info small">Help? Contact Support</a>
                </div>
            </div>
            <a  v-on:click="doLogin" class="btn btn-primary btn-cons m-t-10">Sign in</a>
        </div>
        <div class="enter-outlet hide-enter-outlet">
            <div class="col-sm-6">
                <div class="form-group form-group-default">
                    <label for="out_let_id">Select Outlet</label>
                    <select v-model="out_let_id" class="cs-select cs-skin-slide cs-transparent form-control">
                        <option value="">Select Outlet</option>
                        <option v-for="out_let in out_lets.data" v-bind:value="out_let.id">{{ out_let.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <a  v-on:click="enterInOutlet" class="btn btn-primary btn-cons m-t-10">Enter Into Outlet</a>
            </div>
        </div>
        <!-- END Form Control-->
    </div>
</template>
<script>
    export default {

        data(){
            return{
                loginDetails: {
                    email : null,
                    password : null,
                    remember : true
                },
                out_lets : [],
                is_logged_in : 0,
                email : null,
                password : null,
                out_let_id : null,
                authentication_success_message : null,
                authentication_failed_message : null,
                retruned_data : null,
                session_data : null,
            }
        },
        props: ['location', 'store'],
        mounted() {
            let that = this;
        },
        methods: {
            doLogin: function(){
                let that = this;
                axios.post('/login', {
                            email: that.email,
                            password: that.password
                        }
                    )
                    .then(function (response) {
                        if(response.status === 200 ){
                            axios.get('/api/user_outlets/get_user_outlets')
                            .then(function (response) {
                                if(response.status === 200 ){
                                    $('.login-area').addClass('hide-login-area');
                                    $('.enter-outlet').addClass('show-enter-outlet');
                                    $('.sign-in-heading').addClass('hide-sign-in-heading');
                                    that.authentication_success_message = 'Authentication Success!!!';
                                    that.authentication_failed_message = null;
                                    that.out_lets = response.data;
                                }else if(response.data.error){
                                    console.log(response.data.error)
                                    that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                                }
                            })
                            .catch(function (error) {
                                that.errors = error;
                                alert( error );
                            });

                        }else if(response.data.error){
                            console.log(response.data.error)
                            that.authentication_failed_message = 'Authentication Failed, Try again!!!';
                        }
                    })
                    .catch(function (error) {
                        that.errors = error;
                        alert( error );
                    });
            },
            enterInOutlet: function(){
                let that = this;
                axios.post('/api/user_outlets/enter_in_out_let', {
                            out_let_id: that.out_let_id
                        }
                    )
                    .then(function (response) {
                        that.session_data = response;
                        if( response ){
                            location.href  = '/frontend/dashboard';
                        }else if(response.data.error){
                            console.log(response.data.error)
                            that.enter_in_out_let_failed_message = 'Enter Into Outlet Failed, Try again!!!';
                        }
                    })
                    .catch(function (error) {
                        that.errors = error;
                        alert( error );
                    });
            },
        }
    }
</script>
