<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Challan</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_challan">Search Challan</label>
                                            <input v-model="challan_no" class ="form-control" placeholder="challan no">
                                        </div>                                       
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.request_date ? 'has-error' : '', '']">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.request_date" :errors="errors">
                                                {{ errors.request_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>                                    
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchChallan()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->
        
        <!--Start Product Combination Lists -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Requested Quantity</th>
                            <th style="width:20%">Received Quantity</th>
                            <th style="width:20%">Missing Quantity</th>
                            <th style="width:20%">Missing Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="( combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="attribute-values">
                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                                <br/>
                                            </template>
                                        </div>
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input type="radio" value="Lost" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_'+ combination_index + ''">
                                            <label for="lost">Lost</label>
                                            <br>
                                            <input type="radio" value="Return Warehouse" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_' + combination_index + ''">
                                            <label for="return_warehouse">Return Warehouse</label>
                                        </div>
                                    </div>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>                       
            <div class="alert-success pull-right" v-if="product_challan_infos.status=='Received'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <a  v-on:click="receive_warehouse_store_out_challan()" class="btn btn-success pull-right">Receive Challan</a>
            </div>
        </div>
        <!--End Product Combination Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },
        data(){
            return{
                // array to hold form errors
               errors: [],
               challan_no:null,
               request_date:null,
               product_challan_infos:
                {
                    request_date:null,
                    warehouse_id:null,
                    out_let_id:null,
                    combination: null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    status: null,
                },  
                receive_challan_button: true,             
            }
        },
        props: ['challan_id'],
        mounted() {
            let that = this;   
            this.searchChallan();
            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.request_date = $('#request_date').val();
                });
            });
        },
        computed:{
            missing_quantity: function(){
                let that = this;
                if (!$.isEmptyObject( that.product_challan_infos.product_combination_list )) {
                    $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].missing_quantity = parseInt( combination_data.requested_quantity ) - parseInt( combination_data.received_quantity );
                        })
                    })
                }
            },
        },
        watch:{
            missing_quantity: function(){
                console.log('Remain Quantity Updated...');
            },
        },
        methods: {               
            searchChallan: function(){
                let that = this;
                console.log('challan_id: ' + that.challan_id);
                axios.post('/api/warehouse_store_out_challan/get_challan_data', {
                    challan_id: that.challan_id,
                    challan_no: that.challan_no,
                    request_date : that.request_date
                })
                .then(function (response) {
                    that.product_challan_infos = response.data;                    
                    that.product_challan_infos.remove_old_product_combinations = [];
                    if (!$.isEmptyObject( that.product_challan_infos )) { 
                        that.challan_no = that.product_challan_infos.challan_no;
                        that.request_date = that.product_challan_infos.request_date;
                        if( that.product_challan_infos.status == "Auto Received" ){
                            that.product_challan_infos.statusChecked = true;
                        }
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }                        
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },  
            receive_warehouse_store_out_challan: function( ){
                let that = this;
                that.product_challan_infos.status = 'Received';
                axios.post('/api/out_let_store_in_challan/receive_out_let_store_in_challan', that.product_challan_infos )
                    .then(function (response) {
                        that.errors = response.data.success;
                        //that.searchChallan();
                        location.reload(true);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },                
        }
    }
</script>

