<template>
    <div class="">
        <!--Start Search Product -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Search Product</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="search_product">Search Product</label>
                                            <input v-model="name" class ="form-control" placeholder="product name">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="item_code" class ="form-control" placeholder="item code">
                                        </div>
                                        <div class="form-group form-group-default">
                                            <label for="search_product"></label>
                                            <input v-model="bar_code" class ="form-control" placeholder="bar code">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.warehouse_id ? 'has-error' : '', '']">
                                            <label for="to_ware_house">From warehouse</label>
                                            <select v-model="product_challan_infos.warehouse_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Warehouse</option>
                                                <option v-for="warehouse in warehouses" v-bind:value="warehouse.id">{{ warehouse.name }}</option>
                                            </select>
                                            <form-error v-if="errors.warehouse_id" :errors="errors">
                                                {{ errors.warehouse_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="category_id">Select Category</label>
                                            <select v-model="category_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" v-bind:value="category.id">{{ category.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <div class="btn-group btn-challan-product-div">
                                                <a v-on:click="searchProducts()" title="product-search" class="btn btn-success btn-cons btn-challan-product-search">Search</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Search Product-->

        <!--Start Products Listing-->
        <div class="row row-same-height">
            <!-- START PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Products</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                            <tr>
                                <th style="width:20%">Challan No</th>
                                <th style="width:20%">Image</th>
                                <th style="width:20%">Name</th>
                                <th style="width:20%">Item Code</th>
                                <th style="width:20%">Bar Code</th>
                                <th style="width:20%">Category</th>
                                <th style="width:20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <template v-for="challan in warehouse_store_in_challans">
                            <span style="margin-left:31px;">{{challan.challan_no}}</span>
                            <tr v-if="challan_product.product" v-for="challan_product in challan.challan_products">
                                <td class="v-align-middle">
                                </td>
                                <td class="v-align-middle">
                                </td>
                                <td class="v-align-middle">
                                    {{challan_product.product.name}}
                                </td>
                                <td class="v-align-middle">
                                    {{challan_product.product.item_code}}
                                </td>
                                <td class="v-align-middle">
                                    {{challan_product.product.bar_code}}
                                </td>
                                <td class="v-align-middle">
                                    <ul v-for="category in challan_product.product.categories">
                                        <li>{{category.name}}</li>
                                    </ul>
                                </td>
                                <td class="v-align-middle">
                                    <div class="btn-group btn-actions">
                                        <a v-on:click="addToChallan(challan.challan_no,challan_product.id, challan.id, challan_product.product.id)" :id="challan_product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a>
                                       <!-- <a v-on:click="addToChallan(challan_product.product.id)" :id="challan_product.product.id" title="Add-to-challan" class="btn btn-success product_add_btn">Add To Challan</a> -->
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Products Listing-->
        <!--Start Challan Info-->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Store Out Challan Info</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.request_date ? 'has-error' : '', '']">
                                            <label for="request_date">Request Date</label>
                                            <input v-model.lazy="product_challan_infos.request_date" id="request_date" class ="form-control" placeholder="Select Date">
                                            <form-error v-if="errors.request_date" :errors="errors">
                                                {{ errors.request_date[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default required" v-bind:class="[errors.out_let_id ? 'has-error' : '', '']">
                                            <label for="out_let_id">To Outlet</label>
                                            <select v-model="product_challan_infos.out_let_id" class="cs-select cs-skin-slide cs-transparent form-control">
                                                <option value="">Select Outlet</option>
                                                <option v-for="out_let in out_lets" v-bind:value="out_let.id">{{ out_let.name }}</option>
                                            </select>
                                            <form-error v-if="errors.outlet_id" :errors="errors">
                                                {{ errors.out_let_id[0] }}
                                            </form-error>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Product Combination Lists -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:10%">Challan No</th>
                            <th style="width:10%">Name</th>
                            <th style="width:30%">Stock Quantity</th>
                            <th style="width:20%">Requested Quantity</th>
                            <th style="width:15%">Stock Remain</th>
                            <th style="width:15%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                                <td class="v-align-middle">
                                    {{product.challan_no}}
                                </td>
                                <td class="v-align-middle">
                                    {{product.name}}
                                </td>
                                <td class="v-align-middle" style="width: 25%">
                                    <ul v-for="( combination, combination_index ) in product.combinations">
                                        <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity">
                                            <div class="attribute-values">
                                                <template v-for="attributeValue in combination.combination_attribute_values">
                                                    <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                                    <br/>
                                                </template>
                                            </div>
                                            <div class="combination-quantity">
                                                <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].stock_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            </div>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle" style="width: 25%">
                                    <ul v-for="(combination, combination_index ) in product.combinations">
                                        <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity">
                                            <!-- <div class="attribute-values">
                                                <template v-for="attributeValue in combination.combination_attribute_values">
                                                    <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                                    <br/>
                                                </template>
                                            </div> -->
                                            <div class="combination-quantity">
                                                <input class ="form-control readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            </div>
                                            <!-- <div class="combination-quantity" v-if="product_challan_infos.product_combination_list[index].combination =='No'">
                                                <input class ="form-control readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            </div>
                                            <div class="combination-quantity" v-else>
                                                <input class ="form-control readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            </div> -->
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle" style="width: 25%">
                                    <ul v-for="(combination, combination_index ) in product.combinations">
                                        <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity">
                                            <!-- <div class="attribute-values">
                                                <template v-for="attributeValue in combination.combination_attribute_values">
                                                    <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                                    <br/>
                                                </template>
                                            </div> -->
                                            <div class="combination-quantity">
                                                <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].stock_remain" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                            </div>
                                        </div>
                                    </ul>
                                </td>
                                <td class="v-align-middle">
                                    <a v-on:click="removeFromChallanList(index, product.warehouse_store_in_challan_product_id)" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="pull-right">
                <input v-model="product_challan_infos.statusChecked" type="checkbox" />
                <span>Mark as challan auto received</span>
            </div><br/>
            -->
            <div>
                <a  v-on:click="save_warehouse_store_out_challan" class="btn btn-success pull-right">Save Challan</a>
            </div>
        </div>
        <!--End Product Combination Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },
        data(){
            return{
                // array to hold form errors
                errors: [],
                categories: [],
                out_lets: [],
                warehouses: [],
                warehouse_store_in_challans: [],
                challan: null,
                category_id:null,
                name:null,
                item_code:null,
                bar_code:null,
                selected_products: [],
                product_challan_infos:
                {
                    request_date:null,
                    warehouse_id:null,
                    out_let_id:null,
                    combination: null,
                    product_combination_list: [],
                    status: null,
                },
            }
        },

        props: ['company_id'],

        mounted() {
            let that = this;
            this.getCategories();
            this.getOutLets();
            this.getWarehouses();
            $(function() {
                "use strict";
                $('#request_date').datepicker({
                    format: 'yyyy-mm-dd'
                }).change(function() {
                    that.product_challan_infos.request_date = $('#request_date').val();
                });
            });
        },
        computed:{
                stock_remain: function(){
                let that = this;
                $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].stock_remain = parseInt( combination_data.stock_quantity ) - parseInt( combination_data.requested_quantity );
                    })
                })
            },
        },
        watch:{
            stock_remain: function(){
                console.log('Remain Quantity Updated...');
            },
        },
        methods: {
            date_change: function(val){
//                alert(val);
            },
            getCategories: function(){
                let that = this;
                axios.get('/api/category/get_categories')
                    .then(function (response) {
                        that.categories = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getOutLets: function(){
                let that = this;
                axios.get('/api/out_let/get_company_out_let')
                    .then(function (response) {
                        that.out_lets = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            getWarehouses: function(){
                let that = this;
                axios.get('/api/warehouse/get_warehouses')
                    .then(function (response) {
                        that.warehouses = response.data;
                    })
                    .catch(function (error) {
                        that.errors = error;
                    });
            },
            searchProducts: function(){
                let that = this;
                axios.post('/api/warehouse_store_in_challan/search_warehouse_products',{
                            warehouse_id: that.product_challan_infos.warehouse_id,
                            name: that.name,
                            item_code: that.item_code,
                            bar_code: that.bar_code,
                            category_id: that.category_id,
                    }
                )
                .then(function (response) {
                    that.warehouse_store_in_challans = response.data;
                    $('.product_add_btn').addClass('show_add_to_challan_button');
                    that.product_challan_infos.product_combination_list = [];
                    that.product_combination_list_temp.combinations = [];
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            addToChallan: function(challan_no,warehouse_store_in_challan_product_id, challan_id, product_id){
                let that = this;
                $('#'+warehouse_store_in_challan_product_id).addClass('hide_add_to_challan_button');
                $('#'+warehouse_store_in_challan_product_id).removeClass('show_add_to_challan_button');
                axios.post('/api/warehouse_store_in_challan/get_warehouse_store_in_challan_product_combination', {
                        warehouse_store_in_challan_product_id: warehouse_store_in_challan_product_id,
                        product_id: product_id,
                    }

                )
                .then(function (response) {
                    that.combination = response.data;
                    that.combination.challan_no = challan_no;
                    that.combination.warehouse_store_in_challan_product_id = warehouse_store_in_challan_product_id;
                    that.product_challan_infos.product_combination_list.push(that.combination);
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },
            removeFromChallanList: function(index, warehouse_store_in_challan_product_id){
                let that = this;
                Vue.delete( that.product_challan_infos.product_combination_list, index);  
                $('#'+warehouse_store_in_challan_product_id).addClass('show_add_to_challan_button');
            },
            save_warehouse_store_out_challan: function(){
                let that = this;
                if( !that.product_challan_infos.statusChecked ){
                    that.product_challan_infos.status = 'Draft created';
                }
                else if( that.product_challan_infos.statusChecked != null ){
                    that.product_challan_infos.status = 'Auto Received';
                }
                axios.post('/api/warehouse_store_out_challan/save_warehouse_store_out_challan', that.product_challan_infos)
                    .then(function (response) {
                        console.log("response Here: "+response.data.success);
                        that.errors = response.data.error;
                        var route_url =  window.location.origin+"/warehouse_store_out_challan/"+response.data.warehouse_store_out_challan_id+"/edit";
                        window.location.href = route_url;
                    })
                    .catch(function (error) {
                        if(error){
                            that.errors = error.response.data.errors;
                            console.log("Error Here: "+error.response.data.errors);
                        }
                    });
            },
        }
    }
</script>

