<template>
    <div class="">
        <!--Start Challan Info -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Store Out Challan Info( #{{challan_no}} )</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-7 col-div-full">
                        <div class="padding-30">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="request_date">Request Date</label>
                                            <input v-model="product_challan_infos.request_date"  placeholder="Select Date" class ="form-control readonly-field-color" v-bind:readonly="true">                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-div-33">
                                        <div class="form-group form-group-default">
                                            <label for="out_let_info">To Outlet</label>
                                            <input v-model="out_let_info" placeholder="To Outlet" class ="form-control readonly-field-color" v-bind:readonly="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Challan Info -->
        <!--Start Product Combination Lists -->
        <div class="row row-same-height">
            <div class="panel panel-default">
                <div class="panel-heading title-color">
                    <h4 class="panel-title">Product Combination Lists</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="tableWithSearch">
                        <thead>
                        <tr>
                            <th style="width:20%">Name</th>
                            <th style="width:20%">Requested Quantity</th>
                            <th style="width:20%">Received Quantity</th>
                            <th style="width:20%">Missing Quantity</th>
                            <th style="width:20%">Missing Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product,index) in product_challan_infos.product_combination_list">
                            <td class="v-align-middle">
                                {{product.name}}
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="( combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="attribute-values">
                                            <template v-for="attributeValue in combination.combination_attribute_values">
                                                <strong>{{attributeValue.attribute_value.attribute.name}} : </strong>  {{attributeValue.attribute_value.value}} ,
                                                <br/>
                                            </template>
                                        </div>
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].received_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input class ="form-control readonly-field-color" v-bind:readonly="true" type="number" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_quantity" :id="'product_combination_' + combination.id + ''"  :name="'product_combination_' + combination.id + ''" placeholder="Qty">
                                        </div>
                                    </div>
                                </ul>
                            </td>
                            <td class="v-align-middle" style="width: 20%">
                                <ul v-for="(combination, combination_index ) in product.combinations">
                                    <div v-if="product_challan_infos.product_combination_list[index].combinations[combination_index].requested_quantity">
                                        <div class="combination-quantity">
                                            <input type="radio" value="Lost" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_'+ combination_index + ''">
                                            <label for="lost">Lost</label>
                                            <br>
                                            <input type="radio" value="Return Warehouse" v-model="product_challan_infos.product_combination_list[index].combinations[combination_index].missing_status" :id="product.id+'product_combination_' + combination_index + ''"  :name="product.id+'product_combination_' + combination_index + ''">
                                            <label for="return_warehouse">Return Warehouse</label>
                                        </div>
                                    </div>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="pull-right" v-if="receive_challan_button">
                <input v-model="product_challan_infos.statusChecked" type="checkbox"/>
                <span>Mark as challan auto received</span>
            </div><br/><br/><br/><br/><br/>            
            <div class="alert-success pull-right" v-if="product_challan_infos.status=='Received'">
                <span> This Challan Already Received</span>
            </div>
            <div class="alert-success pull-right" v-else-if="product_challan_infos.status=='Auto Received'">
                <span> This Challan Already Auto Received</span>
            </div>
            <div v-if="receive_challan_button">
                <a  v-on:click="receive_warehouse_store_out_challan(challan_id)" class="btn btn-success pull-right">Receive Challan</a>
            </div>
        </div>
        <!--End Product Combination Lists-->
    </div>
</template>

<script>
    require('../../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js');
    // import FormError component
    import FormError from './FormError.vue';
    export default {
        components: {
            FormError
        },
        data(){
            return{
                // array to hold form errors
                out_let_info : "", 
                errors: [],
                categories: [],
                out_lets: [],
                warehouses: [],
                warehouse_store_in_challans: [],
                challan: null,
                category_id:null,
                name:null,
                item_code:null,
                bar_code:null,
                selected_products: [],
                product_challan_infos:
                {
                    request_date:null,
                    warehouse_id:null,
                    out_let_id:null,
                    combination: null,
                    product_combination_list: [],
                    remove_old_product_combinations: [],
                    status: null,
                },  
                receive_challan_button: true,             
            }
        },
        props: ['challan_id','challan_no'],
        mounted() {
            let that = this;            
            that.getChallan();
        },
        computed:{
                missing_quantity: function(){
                let that = this;
                $.each(that.product_challan_infos.product_combination_list,function(index_product_combination_list,combination){
                    $.each(combination.combinations,function(index_combinations,combination_data){
                        that.product_challan_infos.product_combination_list[index_product_combination_list].combinations[index_combinations].missing_quantity = parseInt( combination_data.requested_quantity ) - parseInt( combination_data.received_quantity );
                    })
                })
            },
        },
        watch:{
            missing_quantity: function(){
                console.log('Remain Quantity Updated...');
            },
        },
        methods: {     
            getChallan: function(){
                let that = this;
                axios.post('/api/warehouse_store_out_challan/get_challan_data', {
                    challan_id: that.challan_id,
                    challan_no: '',
                    request_date : ''
                })
                .then(function (response) {
                    that.product_challan_infos = response.data;
                    that.product_challan_infos.remove_old_product_combinations = [];
                    if (!$.isEmptyObject( that.product_challan_infos )) {
                        if( that.product_challan_infos.status == "Auto Received" ){
                            that.product_challan_infos.statusChecked = true;
                        }
                        if(that.product_challan_infos.status == 'Received' || that.product_challan_infos.status == 'Auto Received' ){
                            that.receive_challan_button = false;
                        }
                        if( that.product_challan_infos.out_let_id ){
                            axios.post('/api/out_let/get_out_let_data', {
                                    out_let_id: that.product_challan_infos.out_let_id
                                }
                            )
                            .then(function (response_out_let) {
                                that.out_let_info = response_out_let.data.name;
                            })
                            .catch(function (error) {
                                that.errors = error;
                            });
                        }
                    }
                })
                .catch(function (error) {
                    that.errors = error;
                });
            },  
            receive_warehouse_store_out_challan: function( challan_id ){
                let that = this;
                that.product_challan_infos.status = 'Received';
                axios.post('/api/warehouse_store_out_challan/update_warehouse_store_out_challan', that.product_challan_infos )
                    .then(function (response) {
                        that.errors = response.data.success;
                        location.reload(true);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },                
        }
    }
</script>

