
.tour_title{
    font-weight: bolder;
    text-align: justify-all;
}
.tour_price{
    font-weight: bolder;
    text-align: justify-all;
    padding-right: 7px;
}
.tour_price, .price_value{
    float:left;
}
.clear{
    clear: both;
}